:root {
    --logo-primary-color: #af0e02;
    --logo-secondary-color: #1a4315;
    --button-color: #3c6537;
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}


.sidebar {
    background-image: url(./japan-arch.jpg);
    background-size: cover;
    background-position: center;
    flex: 3;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    place-items: center;
}

.hero {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    grid-row-start: 2;
    place-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    color: #ccc;
    font-family: 'Permanent Marker', cursive;
}

.logo {
    width: 150px;
    height: 150px;
}

.photo-credit {
    color: white;
    grid-row-start: 3;
    place-self: end;
}

main {
    flex: 5;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    font-family: Ubuntu, sans-serif;
}

.header {
    margin: 20vh 2rem 2rem 2rem;
    justify-self: flex-end;
}

.cta {
    font-size: 1.3rem;
}

form {
    margin-top: 1rem;
}

.inputs {
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.form-title {
    grid-column-start: span 3;
    font-size: 1.3rem;
    margin: 1rem 0 0 1rem;
}

label {
    position: absolute;
    top: 0;
    font-size: 0.7rem;
}

.input {
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password] {
    height: 1.5rem;
    width: 13rem;
}

.last-name,
.phone-number,
.confirm {
    grid-column-start: span 2;
}

button {
    background-color: var(--button-color);
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: white;
    margin: 2rem 0 0 2rem;
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4)
}

.login { 
    margin: 2rem 0 0 2.2rem;
}
